body {
  background-color: #affafa;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
}
button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

.line {
  text-decoration: line-through;
}
.box {
  display: flex;
}
.checkBox {
  margin-top: 17px;
  transform: scale(1.5);
  margin-left: 10px;
}
/* ToDo List App Syling Container */
.custom-container-TODO {
  width: auto;
  height: 670px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin-right: 40px;
}
/* Container Style für Time App */
.custom-container-Time {
  width: auto;
  height: 150px;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

/* Container Style für Weather App */
.custom-container-Weather {
  width: auto;
  height: 670px;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin-left: 40px;
}
/* Container Style für Joke App */
.custom-container-Joke {
  width: auto;
  height: 469px;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
/* Container Style für Heading App */
.custom-container-heading {
  width: auto;
  height: 4rem;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

/* Hintergrund für Weather Icon */
.rcorners1 {
  border-radius: 25px;
  background: #0000003f;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* CSS Grid system for Apps */
.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Todo-List Time Current-Weather"
    "Todo-List Joke-Generator Current-Weather"
    ". . .";
}

.Todo-List {
  grid-area: Todo-List;
}

.Time {
  grid-area: Time;
}

.Joke-Generator {
  grid-area: Joke-Generator;
}
.joke-button {
  margin-bottom: 30px;
}

.Current-Weather {
  grid-area: Current-Weather;
}
